* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    z-index: 1000;
    text-align: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s;
}

.navbar li a:hover {
    color: #ffcc00; 
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: black;
    border: 1px solid;
}


#one { background-color: red; }
#two { background-color: blue; }
#three { background-color: green; }